@model DishStore.Models.Category

@{
    ViewData["Title"] = "Добавление записи";
}

<h1>Добавление новых данных о категории</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                <label asp-for="Name" class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="ImagePath" class="control-label">Изображение</label>
                <input name="Image" class="form-control" accept="image/jpeg,image/jpg,image/png" type="file">
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary mb-2">Вернуться к редактированию</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
