@model DishStore.Models.Category

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Подробная информация о категории</h1>

<div>
    <hr />
    <div class="card mb-3" style="width: 1000px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img-top" style="" src="@Url.Content(Model.ImagePath)" alt="Картинки нет">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fw-bold">@Html.DisplayFor(model => model.Name, new{@class="card-title"})</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Изменить</a>
    <a asp-action="Index" class="btn btn-secondary">Вернуться к редактированию</a>
</div>
