@model DishStore.Models.Manufacturer

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Полная информация о производителе</h1>

<div>
    <hr />
    <div class="card mb-3" style="width: 1000px;">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fw-bold">@Html.DisplayFor(model => model.Name, new{@class="card-title"})</h5>
                    <p class="card-text">Страна: @Html.DisplayFor(model => model.Country)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a>
    <a class="btn btn-secondary" asp-action="Index">Редактирование</a>
</div>